<link rel="stylesheet" href="style.css">

<h1>Bem-vindo ao blog Front-end!</h1>
    <article>
        <h1>Apredendo mais com HTML</h1>
        <p> Conhecer em profundidade a linguage HTML ajuda no desenvolvimento
        dos desenvolvedores front end! </p>
    </article>
    <article>
        <h1>Apredendo mais com CSS</h1>
        <p> Conhecer em profundidade a linguage HTML ajuda no desenvolvimento
        dos desenvolvedores front end! </p>
    </article>
